.mox-container {
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
    min-height: 80px;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#sortable {
    min-height: 72px;
}

#search {
    margin-bottom: 3px;
}

.mox-item {
    margin-bottom: 3px;
    padding: 3px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #ccc;
}

.mox-item:last-child {
    margin-bottom: 0;
}

.drop-info {
    text-align: center;
    background-color: #e7e7e7;
    color: #aaa;
    padding: 3px;
    border: 1px dashed #aaa;
    border-radius: 3px;
}
.drop-info:after {
    content: 'drop songs here';
}

.mox-item.selected {
    background-color: #777;
}
